
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');


*{
    box-sizing: border-box;
    padding: 10px;
}
#divmini1{
    float: left;
}

 #imglogo {
    float: left;
    margin-top: 10px;
 }

 h1 {
    font-family: 'Limelight', cursive;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
 }
 h3 {
     margin-left: 37px;
     font-size: x-small;
     color: rgb(131, 134, 134);
     padding-top: 0px;
     margin-top: 0px;
     
 }
 #div1{
     float: right; 
    
 } 
 #div1 img{
     padding: 0px;
 }


main {
    clear: both;
}
hr {
    height: 15px;
    background-color : rgb(146, 145, 145);
}

#title{
    float: left;
}

#lolo{
    float: right;
    
}
#div3{
    margin-top: 100px;
   
}
#mimg{
    width: 100%;
}
#div5{
    background-image: url("img/list-bg.png");
    padding-right: 500px;
    
}
#div6{
    float: left;
    background-image: url("img/list-bg.png");
}
#div7{
    float:right;
    background-image: url("img/list-bg.png");
}
#div8{
    clear: both;
}
#div10{
    float: left;
}
#div11{
    float: right;
}
footer{
    clear: both;
}
#hr1{
    height:2px;
}
